<div class="container">
    <div class="jumbotron">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2"></div>
                <label class="control-label col-sm-2" for="userId">User Id:</label>
                <div class="col-sm-4">          
                <input type="text" class="form-control" id="userId" placeholder="Enter User Id" name="userId">
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <label class="control-label col-sm-2" for="password">Password:</label>
                <div class="col-sm-4">          
                    <input type="text" class="form-control" id="password" placeholder="Enter Password Id" name="password">
                </div>
                <div class="col-sm-4"></div>
            </div>
        </form>
    </div>
</div>